<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Visionary on %h</name>
  <service>
    <type>_visionary._tcp</type>
    <port>8321</port>
  </service>
</service-group>
